.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-color: var(--primary-color);
}

.board {
  display: grid;
  border: 0.5rem solid black;
  width: 80vw;
  height: 80vw;
  max-width: 840px; /* Maximum board width */
  max-height: 600px; /* Maximum board height */
}

.row {
  display: contents; /* Display all children in a single row */
}

.cell {
  width: 100%;
  height: 100%;
  opacity: 0.9; /* Default opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevent text selection */
}

.cell.light {
  background-color: #d8d8e8; /* Light squares */
}

.cell.dark {
  background-color: #33242e; /* Dark squares */
}

.cell.warp {
  opacity: 0.2; /* Warp squares */
}

.piece {
  width: 80%; /* Smaller than the cell to create a gap */
  height: 80%; /* Same as width */
  border-radius: 50%; /* Circular pieces */
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece.black {
  background-color: #000; /* Black pieces */
  color: #fff; /* White text for black pieces */
}

.piece.white {
  background-color: #fff; /* White pieces */
  color: #000; /* Black text for white pieces */
}

.piece.king {
  font-weight: bold; /* Bold text for kings */
  border: 2px solid gold; /* Gold border for kings */
}

.cell:hover {
  cursor: pointer; /* Changes cursor to hand pointer on hover */

  outline: 5px solid #00aaff; /* Custom color and width */
  outline-offset: -5px; /* Offset from the element border */
}
